.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .card {
    margin-bottom: 20px;
    width: 400px;
    img {
      display: block;
      width: 100%;
      height: 290px;
      object-fit: cover;
      object-position: center;

      cursor: pointer;
    }

    .stats {
      display: flex;
      justify-content: space-around;

      .stats-item {
        .material-icons {
          display: block;
        }
      }
    }
  }
}
